* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1268px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-hero {
    background: url(./img/header-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    padding: 20px 0px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 50px;

}

.list-item-link {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.list-item-link:hover {
    color: #313EF7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 2px solid #313EF7;
    padding: 10px 0px;
    transition: 0.5s ease;


}


.list-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    padding: 10px 40px;
    border-radius: 59px;
    border: 1px solid #FFF;
    text-decoration: none;
}



/* hero */
.hero {
    padding-top: 40px;
}

.hero-img {
    width: 1223px;
}

.img-father {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    align-self: stretch;
    margin-bottom: 8px;
}

.hero-text {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-context {
    display: flex;
}

.economy {
    border-radius: 20px 0px 0px 0px;
    background: #313EF7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
}

.hero-economy {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.biznes {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--Gray-100, #F3F4F6);
    background: #FFF;
}

.hero-biznes {
    color: #030522;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.first {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 30px 0px 0px;
    border-bottom: 1px solid var(--Gray-100, #F3F4F6);
    background: #FFF;
}

.hero-first {
    color: #030522;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.hero-context2 {
    border-radius: 0px 20px 20px 20px;
    background: #FFF;
    box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);
    padding: 40px;
}

.hero-context-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.context {
    display: flex;
    align-items: center;
}

.context-right {
    margin-left: 10px;
}

.context-title {
    color: #030522;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.context-text {
    color: #AEB5BF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.hero-btn {
    padding: 14px 45px;
    border-radius: 56px;
    background: #313EF7;
    box-shadow: 0px 10px 14px 0px rgba(49, 62, 247, 0.25);
    border: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 40px;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* features */
.features {
    padding: 100px 0px;
}

.features-title {
    color: #030522;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.features-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.list {
    border-radius: 185px;
    background: #FFF;
    box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);
    padding: 42px 21px;
    margin-bottom: 40px;
    width: 281.633px;
    padding: 42px 23px;
    gap: 10px;
    text-align: center;
    margin-left: 24px;
}

.features-titles {
    color: #030522;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    margin-top: 32px;
    margin-bottom: 10px;
}

.list-down {
    margin-top: 80px;
}

.features-text {
    color: rgba(3, 5, 34, 0.65);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 32px;
}

.fly {
    padding-bottom: 100px;
}

.fly-container {
    display: flex;
    align-items: center;
}

.fly-right {
    padding-left: 72px;
}

.lets-fly {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.fly-title {
    color: #313EF7;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}

.fly-span {
    width: 383px;
    height: 0px;
    border-bottom: 2px dashed #E5E7EB;
    margin-left: 20px;
}

.fly-right-title {
    color: #030303;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 40px;
}

.fly-right-text {
    color: #030303;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
}

.fly-btn {
    border-radius: 56px;
    background: #313EF7;
    box-shadow: 0px 10px 14px 0px rgba(49, 62, 247, 0.25);
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border: none;
    padding: 14px 45px;
}

/* tickets */

.tickets {
    padding: 56px 0px;
    background: #010223;
}

.tickets-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tickets-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.tickets-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 26px;
}

/* travel */

.travel {
    padding: 100px 0px;
}

.travel-title {
    color: #011736;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
}

.travel-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    border-radius: 140px;
    background:  rgb(248, 248, 248);
}

.travel-h2 {
    color: #011736;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.travel-text {
    color: #979797;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;
}